:root{
        --cor-de-fundo: #EABBF4;
        --rosa :#EB8AE1; 
        --verde :#7EE3D7;
        --verde :#9CF7FD;
        --verde :#5EB4AE;
        --verde :#51FFF5;
        --roxo :#9665D3;
        --roxo :#8008B8;
        --lilas :#D6A3FF;
        --lilas :#B28EFF;
        --lilas :#CE93FC;
        --lilas :#CD91FC;
        



    }
    .conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    .titulo-principal {
        text-align: left;
        width: 100%;
        font-size: 32px;
    }
    
    
    .botao{
        font-family: "Crakra Petch", sans-serif;
        background-color: var(--botao-inativo);
        color: var(--branco);
        display: flex;
        justify-content: center;
        padding: 1em;
        font-size: 18px;
        align-items: center;
    }
    .botao {
        font-family: "Crakra Petch", sans-serif;
        background-color: var(--botao-inativo);
        color: var(--branco);
        display: flex;
        justify-content: center;
        padding: 1em;
        font-size: 18px;
        align-items: center;
        width: 100%;
        border-bottom: 4px solid var(--botao-ativo);
        border-left: 2px solid var(--botao-ativo);
        border-right: 2px solid var(--botao-ativo);
        border-top: none;
    }
    .botoes {
        display: block;
    }
    
    @media screen and (min-width: 768px) {
        .botoes {
            display: flex;
        }
    }
    .botao:first-child {
        border-radius: 40px 40px 0 0;
    }
    @media screen and (min-width: 768px) {
        .botoes {
            display: flex;
        }
    
        .botao:first-child {
            border-radius: 40px 0 0 0;
        }
    
        .botao:last-child {
            border-radius: 0 40px 0 0;
        }
    }
    
    .ativo{
        background-color: var(--botao-ativo);
        border-bottom: 4px solid var(--lilas;
        }
